In [4]:
#Import Libraries
import pandas as pd
import numpy as np

#Import raw data and merge the data
Nextbike_bochum_raw = pd.read_csv("./dataset/bochum.csv")
Nextbike_leipzig_raw = pd.read_csv("./dataset/leipzig.csv")
Nextbike_raw = Nextbike_bochum_raw.append(Nextbike_leipzig_raw)

#looking for the info of dataframe
Nextbike_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202697 entries, 0 to 185326
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   day            202697 non-null  object
 1   time           202697 non-null  object
 2   b_number       202697 non-null  int64
 3   city           202697 non-null  object
 4   trip_duration  202697 non-null  object
 5   orig_lat       202697 non-null  float64
 6   orig_lng       202697 non-null  float64
 7   dest_lat       202697 non-null  float64
 8   dest_lng       202697 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 15.5+ MB

In [5]:
#looking for the null value
Nextbike_raw.isnull().sum().sort_values(ascending=False)

dest_lng         0
dest_lat         0
orig_lng         0
orig_lat         0
trip_duration    0
city             0
b_number         0
time             0
day              0
dtype: int64

In [6]:
Nextbike_clean = Nextbike_raw

#output
Nextbike_clean

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng
0,2019-02-08,12:06:00,683,bochum,0 days 00:10:00.000000000,51.489814,7.232856,51.479592,7.222239
1,2019-02-10,01:58:00,683,bochum,0 days 00:14:00.000000000,51.479592,7.222239,51.472366,7.250500
2,2019-02-11,06:33:00,683,bochum,0 days 00:28:00.000000000,51.472366,7.250500,51.479592,7.222239
3,2019-02-11,13:31:00,683,bochum,0 days 00:58:00.000000000,51.479592,7.222239,51.483023,7.215314
4,2019-02-11,14:32:00,683,bochum,0 days 00:22:00.000000000,51.483023,7.215314,51.479592,7.222239
...,...,...,...,...,...,...,...,...,...
185322,2019-05-25,10:58:00,99979,leipzig,0 days 00:07:00.000000000,51.468822,11.290048,51.468547,11.289899
185323,2019-05-27,09:32:00,99979,leipzig,0 days 01:16:00.000000000,51.468756,11.289723,51.469324,11.289366
185324,2019-05-27,11:02:00,99979,leipzig,0 days 00:03:00.000000000,51.469044,11.289348,51.469093,11.289432
185325,2019-02-11,11:47:00,99982,leipzig,0 days 01:44:00.000000000,51.341165,12.365045,51.341065,12.365005
185326,2019-03-22,11:35:00,999999,leipzig,0 days 00:45:00.000000000,51.324615,12.336922,51.324649,12.338129

In [7]:
#convert object to timedelta
Nextbike_clean['trip_duration'] = pd.to_timedelta(Nextbike_clean['trip_duration'])

Nextbike_clean

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng
0,2019-02-08,12:06:00,683,bochum,0 days 00:10:00,51.489814,7.232856,51.479592,7.222239
1,2019-02-10,01:58:00,683,bochum,0 days 00:14:00,51.479592,7.222239,51.472366,7.250500
2,2019-02-11,06:33:00,683,bochum,0 days 00:28:00,51.472366,7.250500,51.479592,7.222239
3,2019-02-11,13:31:00,683,bochum,0 days 00:58:00,51.479592,7.222239,51.483023,7.215314
4,2019-02-11,14:32:00,683,bochum,0 days 00:22:00,51.483023,7.215314,51.479592,7.222239
...,...,...,...,...,...,...,...,...,...
185322,2019-05-25,10:58:00,99979,leipzig,0 days 00:07:00,51.468822,11.290048,51.468547,11.289899
185323,2019-05-27,09:32:00,99979,leipzig,0 days 01:16:00,51.468756,11.289723,51.469324,11.289366
185324,2019-05-27,11:02:00,99979,leipzig,0 days 00:03:00,51.469044,11.289348,51.469093,11.289432
185325,2019-02-11,11:47:00,99982,leipzig,0 days 01:44:00,51.341165,12.365045,51.341065,12.365005
185326,2019-03-22,11:35:00,999999,leipzig,0 days 00:45:00,51.324615,12.336922,51.324649,12.338129

In [8]:
#convert object to datetime
Nextbike_clean['timestamp'] = pd.to_datetime(Nextbike_clean['day'] + ' ' +  Nextbike_clean['time'])
Nextbike_clean.drop(columns=['day','time'], inplace = True)

In [9]:
Nextbike_clean

,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,timestamp
0,683,bochum,0 days 00:10:00,51.489814,7.232856,51.479592,7.222239,2019-02-08 12:06:00
1,683,bochum,0 days 00:14:00,51.479592,7.222239,51.472366,7.250500,2019-02-10 01:58:00
2,683,bochum,0 days 00:28:00,51.472366,7.250500,51.479592,7.222239,2019-02-11 06:33:00
3,683,bochum,0 days 00:58:00,51.479592,7.222239,51.483023,7.215314,2019-02-11 13:31:00
4,683,bochum,0 days 00:22:00,51.483023,7.215314,51.479592,7.222239,2019-02-11 14:32:00
...,...,...,...,...,...,...,...,...
185322,99979,leipzig,0 days 00:07:00,51.468822,11.290048,51.468547,11.289899,2019-05-25 10:58:00
185323,99979,leipzig,0 days 01:16:00,51.468756,11.289723,51.469324,11.289366,2019-05-27 09:32:00
185324,99979,leipzig,0 days 00:03:00,51.469044,11.289348,51.469093,11.289432,2019-05-27 11:02:00
185325,99982,leipzig,0 days 01:44:00,51.341165,12.365045,51.341065,12.365005,2019-02-11 11:47:00
185326,999999,leipzig,0 days 00:45:00,51.324615,12.336922,51.324649,12.338129,2019-03-22 11:35:00

In [10]:
#Round datetime and extract possible categorisation attributes
Nextbike_clean['timestamp_rounded'] = Nextbike_clean['timestamp'].dt.floor('H')
Nextbike_clean['Weekday'] = Nextbike_clean['timestamp_rounded'].dt.weekday
Nextbike_clean['Time'] = Nextbike_clean['timestamp_rounded'].dt.time
#output
Nextbike_clean

,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,timestamp,timestamp_rounded,Weekday,Time
0,683,bochum,0 days 00:10:00,51.489814,7.232856,51.479592,7.222239,2019-02-08 12:06:00,2019-02-08 12:00:00,4,12:00:00
1,683,bochum,0 days 00:14:00,51.479592,7.222239,51.472366,7.250500,2019-02-10 01:58:00,2019-02-10 01:00:00,6,01:00:00
2,683,bochum,0 days 00:28:00,51.472366,7.250500,51.479592,7.222239,2019-02-11 06:33:00,2019-02-11 06:00:00,0,06:00:00
3,683,bochum,0 days 00:58:00,51.479592,7.222239,51.483023,7.215314,2019-02-11 13:31:00,2019-02-11 13:00:00,0,13:00:00
4,683,bochum,0 days 00:22:00,51.483023,7.215314,51.479592,7.222239,2019-02-11 14:32:00,2019-02-11 14:00:00,0,14:00:00
...,...,...,...,...,...,...,...,...,...,...,...
185322,99979,leipzig,0 days 00:07:00,51.468822,11.290048,51.468547,11.289899,2019-05-25 10:58:00,2019-05-25 10:00:00,5,10:00:00
185323,99979,leipzig,0 days 01:16:00,51.468756,11.289723,51.469324,11.289366,2019-05-27 09:32:00,2019-05-27 09:00:00,0,09:00:00
185324,99979,leipzig,0 days 00:03:00,51.469044,11.289348,51.469093,11.289432,2019-05-27 11:02:00,2019-05-27 11:00:00,0,11:00:00
185325,99982,leipzig,0 days 01:44:00,51.341165,12.365045,51.341065,12.365005,2019-02-11 11:47:00,2019-02-11 11:00:00,0,11:00:00
185326,999999,leipzig,0 days 00:45:00,51.324615,12.336922,51.324649,12.338129,2019-03-22 11:35:00,2019-03-22 11:00:00,4,11:00:00



# Task 2

In [12]:
Nextbike_clean_by_starttime = Nextbike_clean.groupby("Time")[b_.count()
Nextbike_clean_by_starttime

,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,timestamp,timestamp_rounded,Weekday
Time,,,,,,,,,,
00:00:00,3078,3078,3078,3078,3078,3078,3078,3078,3078,3078
01:00:00,2043,2043,2043,2043,2043,2043,2043,2043,2043,2043
02:00:00,1426,1426,1426,1426,1426,1426,1426,1426,1426,1426
03:00:00,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427
04:00:00,2184,2184,2184,2184,2184,2184,2184,2184,2184,2184
05:00:00,5381,5381,5381,5381,5381,5381,5381,5381,5381,5381
06:00:00,9174,9174,9174,9174,9174,9174,9174,9174,9174,9174
07:00:00,9987,9987,9987,9987,9987,9987,9987,9987,9987,9987
08:00:00,8913,8913,8913,8913,8913,8913,8913,8913,8913,8913
09:00:00,8844,8844,8844,8844,8844,8844,8844,8844,8844,8844
10:00:00,10538,10538,10538,10538,10538,10538,10538,10538,10538,10538
11:00:00,11266,11266,11266,11266,11266,11266,11266,11266,11266,11266
12:00:00,11443,11443,11443,11443,11443,11443,11443,11443,11443,11443
13:00:00,12692,12692,12692,12692,12692,12692,12692,12692,12692,12692
14:00:00,13744,13744,13744,13744,13744,13744,13744,13744,13744,13744
15:00:00,15212,15212,15212,15212,15212,15212,15212,15212,15212,15212
16:00:00,15625,15625,15625,15625,15625,15625,15625,15625,15625,15625
17:00:00,13998,13998,13998,13998,13998,13998,13998,13998,13998,13998
18:00:00,11786,11786,11786,11786,11786,11786,11786,11786,11786,11786
19:00:00,9299,9299,9299,9299,9299,9299,9299,9299,9299,9299
20:00:00,8254,8254,8254,8254,8254,8254,8254,8254,8254,8254
21:00:00,7015,7015,7015,7015,7015,7015,7015,7015,7015,7015
22:00:00,5345,5345,5345,5345,5345,5345,5345,5345,5345,5345
23:00:00,4023,4023,4023,4023,4023,4023,4023,4023,4023,4023